
@model IEnumerable<MVCCrudDemo.Models.ProductInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="plus">Add new product</a> 
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => prod.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Specifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@prod.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@prod.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@prod.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

